<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Modal -->
<div id="rulesModal" class="modal fade" role="dialog" ng-view="content">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Beacon '{{currentBeacon.name}}' rules</h4>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Rule</td>
                            <td>Content</td>
                            <td>Date to</td>
                            <td>Date from</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rule in rules">
                            <td>
                                <input class="form-control" type="text" ng-model="rule.name" ng-readonly="!rule.editable">
                            </td>
                            <td>
                                <input class="form-control" type="text" ng-model="rule.description" ng-readonly="!rule.editable">
                            </td>
                            <td>
                                <input class="form-control" type="text" ng-model="rule.rule" ng-readonly="!rule.editable">
                            </td>
                            <td>
                                <select class="form-control" name="singleSelect" ng-model="rule.content_id">
                                    <option value="{{content.content_id}}" ng-repeat="content in contents">{{content.name}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" uib-datepicker-popup=""
                                       ng-model="rule.rule.date_from" is-open="dateFromOpened"
                                       ng-required="true" close-text="Close" ng-click="dateFromOpen()"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" uib-datepicker-popup=""
                                       ng-model="rule.rule.date_to" is-open="dateToOpened"
                                       ng-required="true" close-text="Close" ng-click="dateToOpen()"/>
                            </td>
                            <td>
                                <button class="btn btn-warning" ng-show="!rule.new" ng-disabled="rule.editable" ng-click="rule.editable=!rule.editable">edit</button>
                                <button class="btn btn-primary" ng-show="rule.editable && !rule.new" ng-click="rule.editable=!rule.editable; saveRule(rule)">submit</button>
                                <button class="btn btn-warning" ng-show="rule.editable && !rule.new" ng-click="rule.editable=!rule.editable">cancel</button>
                                <button class="btn btn-danger"  ng-show="!rule.editable && !rule.new" ng-click="deleteRule(rule)">delete</button>
                                <button class="btn btn-danger"  ng-show="rule.new" ng-click="newRule(rule)">save</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" ng-if="addRuleMode">
                    <ul class="list-group col-sm-4 timepickers">
                        <li ng-repeat="dayOfWeek in daysOfWeek" class="list-group-item">
                            <div class="checkbox" style="display: inline-block">
                                <label><input type="checkbox" value="" ng-model="ruleDaysOfWeek[dayOfWeek].enabled" ng-click="setDates(rule, dayOfWeek)">{{dayOfWeek}}</label>
                            </div>
                            <uib-timepicker ng-model="ruleDaysOfWeek[dayOfWeek].from"ng-show="ruleDaysOfWeek[dayOfWeek].enabled" show-spinners="false"  show-meridian="ismeridian"></uib-timepicker>
                            <uib-timepicker ng-model="ruleDaysOfWeek[dayOfWeek].to" ng-show="ruleDaysOfWeek[dayOfWeek].enabled" show-spinners="false" show-meridian="ismeridian"></uib-timepicker>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <button ng-hide="addRuleMode" type="button" class="btn btn-primary" ng-click="addRule(rule)">Add rule</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>UUID</td>
            <td>Major</td>
            <td>Minor</td>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="beacon in beacons">
                <td>
                    <input class="form-control" type="text" ng-model="beacon.name" ng-readonly="!beacon.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="beacon.description" ng-readonly="!beacon.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="beacon.uu_id" ng-readonly="!beacon.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="beacon.major_id" ng-readonly="!beacon.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="beacon.minor_id" ng-readonly="!beacon.editable">
                </td>
                <td>
                    <div class="btn-group" style="display: flex">
                        <button class="btn btn-warning" ng-show="!beacon.new" ng-disabled="beacon.editable" ng-click="beacon.editable=!beacon.editable">edit</button>
                        <button class="btn btn-primary" ng-show="beacon.editable && !beacon.new" ng-click="beacon.editable=!beacon.editable; saveBeacon(beacon)">submit</button>
                        <button class="btn btn-warning" ng-show="beacon.editable && !beacon.new" ng-click="beacon.editable=!beacon.editable">cancel</button>
                        <button class="btn btn-danger"  ng-show="!beacon.editable && !beacon.new" ng-click="deleteBeacon(beacon)">delete</button>
                        <button class="btn btn-danger"  ng-show="beacon.new" ng-click="newBeacon(beacon)">save</button>
                        <button type="button" class="btn btn-default"  ng-click="setModal(beacon)" data-toggle="modal" data-target="#rulesModal">Rules</button>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" ng-click="addBeacon()">Add beacon</button>

</body>
</html>