<h1>invoices:</h1>
<div class="row">
<div class="container">
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default"  ng-repeat="invoice in invoices">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        INVOICE
                        <div class="input-group">
                            {{invoice.id}}
                                <input class="form-control" type="text" ng-model="invoice.number" ng-readonly="!invoice.editable">
                                <input class="form-control" type="text" ng-model="invoice.paymentDate" ng-readonly="!invoice.editable">
                                <input class="form-control" type="text" ng-model="invoice.invoiceDate" ng-readonly="!invoice.editable">
                                <input class="form-control" type="text" ng-model="invoice.payoffDate" ng-readonly="!invoice.editable">
                                <input class="form-control" type="text" ng-model="invoice.amount" ng-readonly="!invoice.editable">
                                <input class="form-control" type="text" ng-model="invoice.paidAmount" ng-readonly="!invoice.editable">
                                <input class="form-control" type="text" ng-model="invoice.paymentForm" ng-readonly="!invoice.editable">
                        </div>
                        CLIENT
                        <div class="input-group">
                            {{invoice.id}}
                            <input class="form-control" type="text" ng-model="invoice.client.name" ng-readonly="!invoice.editable">
                            <input class="form-control" type="text" ng-model="invoice.client.nip" ng-readonly="!invoice.editable">
                            <input class="form-control" type="text" ng-model="invoice.client.street" ng-readonly="!invoice.editable">
                            <input class="form-control" type="text" ng-model="invoice.client.postalCode" ng-readonly="!invoice.editable">
                            <input class="form-control" type="text" ng-model="invoice.client.city" ng-readonly="!invoice.editable">
                            <input class="form-control" type="text" ng-model="invoice.client.phone" ng-readonly="!invoice.editable">
                            <input class="form-control" type="text" ng-model="invoice.client.email" ng-readonly="!invoice.editable">
                            <input class="form-control" type="text" ng-model="invoice.client.description" ng-readonly="!invoice.editable">
                        </div>
                        <button class="btn btn-warning" ng-disabled="invoice.editable" ng-click="invoice.editable=!invoice.editable">edit</button>
                        <button class="btn btn-primary" ng-show="invoice.editable" ng-click="invoice.editable=!invoice.editable; submitEdit(invoice)">submit</button>
                        <button class="btn btn-warning" ng-show="invoice.editable" ng-click="invoice.editable=!invoice.editable">cancel</button>
                        <button class="btn btn-danger"  ng-click="deleteInvoice(invoice)">delete</button>
                        <button class="btn btn-danger"  ng-show="invoice.new" ng-click="saveInvoice(invoice)">save</button>
                    </h4>
                </div>
                <div>
                    <div class="panel-group" style="margin: 10px" ng-show="invoice.items.length">
                        <div class="panel panel-danger" style="margin: 0" ng-repeat="item in invoice.items">
                            <div class="panel-body">
                                {{item.id}} {{item.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary" ng-click="addInvoice()">Add invoice</button>
    </div>
</div>